<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cafeteria.com.app.android.cafe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="">
        <activity android:name="cafeteria.com.app.android.cafe.NivelSuperiorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cafeteria.com.app.android.cafe.CategoriaBebidaActivity"
            android:label="@string/titulo_categoria_bebida_activity" />
        <activity android:name=".BebidaActivity" />
    </application>
</manifest>